// app global css in SCSS form
$primaryRed: #ED1B2E;
$primaryGray: #6D6E70;
$khaki: #E2D7AC;
$sand: #B4A996;
$gold: #ECB731;
$safetyGreen: #8EC06C;
$forestGreen: #537B35;
$lightBlue: #C4DFF6;
$skyBlue: #56A0D3;
$classicBlue: #0091CD;
$midnightBlue: #004B79;
$deepRed: #7F181B;
$coolGray: #D7D7D8;
$coolGrayMedium: #9F9FA3;
